# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# payment form components for stripe
checkout.component.tsx
payment-status.component.tsx
payment-form.component.tsx
cart-dropdown.component.jsx
payment_intent-utils.ts
thankyou

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/.firebase
/build
firestore.indexes.json
firestore.rules

# Firebase config
.firebaserc
firebase.json

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
firestore-debug.log
ui-debug.log